/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 7
   Tutorial Case

   Survey Forms Style Sheet
   Author: Rodrigo Del Rio Sifuentes
   Date:   11/02/2022

   Filename:         rb_forms.css

*/

/* Form Layout Styles */

div.formRow {
   display: flex;
   flex-flow: row wrap;
   margin: 7px 0px;
}

div.formRow > * {
   flex: 1 1 150px;
}

/* Legend Styles */



/* Text Area Styles */



/* Spinner Styles */



/* Form Button Styles */



/* Validation Styles */

