/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 7
   Tutorial Case

   Survey Forms Style Sheet
   Author: Rodrigo Del Rio Sifuentes
   Date:   11/02/2022

   Filename:         rb_forms.css

*/

/* Form Layout Styles */

form#survey {
   display: flex;
   flex-flow: row wrap;
}

form#survey > fieldset {
   background-color: rgb(240, 232, 181);
   border-radius: 20px;
   flex: 1 1 300px;
   font-size: 0.85em;
   padding: 10px;
   margin: 10px;
}

div.formRow {
   display: flex;
   flex-flow: row wrap;
   margin: 7px 0px;
}

div.formRow > * {
   flex: 1 1 150px;
}

/* Legend Styles */

legend {
   background-color: rgb(179, 20, 25);
   color: white;
   padding: 5px;
}

/* Text Area Styles */



/* Spinner Styles */



/* Form Button Styles */



/* Validation Styles */

