@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 6
   Tutorial Case

   Columns Style Sheet
   Author: Rodrigo Del Rio Sifuentes
   Date:   10/26/2022

   Filename:         dlr_columns.css

*/



/* Column Styles */

