@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 6
   Tutorial Case

   Tables Style Sheet
   Author: Rodrigo Del Rio Sifuentes
   Date:   10/26/2022

   Filename:         dlr_tables.css

*/

/* Table Styles */
table.schedule {
   background: white; 
   border: 10px outset rgb(153, 0, 153);
   border-collapse: collapse;
   font-size: 0.75em;
   width: 100%;
}


/* Table Cell Styles */
table.schedule th, table.schedule td {
   border: 1px solid gray;
}


/* Table Caption Styles */
table.schedule caption {
   caption-side: bottom;
   text-align: right;
}


/* Row Group Styles */



/* Column Group Styles */