@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 5
   Review Assignment
   
   Author:   Rodrigo Del Rio Sifuentes
   Date:     10/13/2022
      
   Filename: tf_styles4.css

   This file contains the screen styles used with the Trusted
   Friends blog tips

*/


/* Import Basic Design Styles Used on All Screens */

@import url("tf_designs.css");



/* General Flex Styles */


body {
    display: flex;
    flex-flow: row wrap;
}

section#left {
    flex: 1 8 130px;
}

section#right {
    flex: 8 1 351px;
}

section.tips {
    display: flex;
    flex-flow: row wrap;
}

section.tips article {
    flex: 2 1 351px;
}

section.tips aside {
    flex: 1 2 250px;
}

nav.horizontal ul {
    display: flex;
    flex-flow: column wrap;
}



/* ===============================
	Mobile Devices: 0 to 480px 
   ===============================
*/
@media only screen and (max-width: 480px) {
    nav.vertivle ul {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        height: 240px;
    }

    section#left {
        -webkit-order: 90;
        order: 99;
    }

    footer {
        -webkit-order:100;
        order: 100;
    }

    a#navicon{
        display: block;
    }

    nav.horizontal ul {
        display: none;
    }

    a#navicon:hover+ul, nav.horizontal ul:hover {
        display: block;
    }
} 




/* ============================================
	Tablet and Desktop Devices: 481px or more 
   ============================================
*/

@media only screen and (min-width: 480px) {
    nav.horizontal ul {
        height: 160px;
    }
}